.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.countstyle {
  position: absolute;
  top: 28%;
  left: 20px; /* 左側の余白を設定 */
  width: 400px;
  height: 320px;
  border: 2px solid black;
  transform: translateY(-50%);
}

.boardstyle {
  width: 640px;
  height: 640px;
  background-color: green;
}

.cellstyle {
  position: relative;
  float: left;
  width: 80px;
  height: 80px;
  border: 2px solid black;
}

.stonestyle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 56px;
  height: 56px;
  margin: auto;
  background-color: black;
  border-radius: 50%;
}
